<h3>Profile Page</h3>

<h4><%= @user.name %>'s Emapanada Orders</h4>

<% if @user.orders.any? %>
<ul>
  <% @user.orders.each do |order|%>
  <li><%= order.name %></li>
  <% end %>
</ul>
<% else %>
  <p>This user hasn't ordered any empanadas</p>
<% end %>
