<form method="POST" action="/orders">
  <label>Beef:</label>
   <input id="beef" type="text" name="order[1]" placeholder="How many?"><br>
   <label>Malbec Beef:</label>
   <input id="malbec_beef" type="text" name="order[2]" placeholder="How many?"><br>
   <label>Spinach:</label>
   <input id="spinach" type="text" name="order[3]" placeholder="How many?"><br>
   <label>Corn:</label>
   <input id="corn" type="text" name="order[4]" placeholder="How many?"><br>
   <label>Nutella:</label>
   <input id="nutella" type="text" name="order[5]" placeholder="How many?"><br>
   <input type="submit" value="Submit Order">
</form>
